venv/
__pycache__/
*.pyc
.idea/
.vscode/

# Models (IMPORTANT)
*.pkl
*.pt
*.bin

# HuggingFace / checkpoints
agents/nlp_agent/models/
checkpoint-*/

dataset/
*.csv

# ========================
# DATASETS (NLP)
# ========================
agents/nlp_agent/datasets and preprocessing/*.csv
agents/nlp_agent/datasets and preprocessing/*.txt

# ========================
# MODELS (NLP)
# ========================
agents/nlp_agent/models/
*.pkl
*.pt
*.bin

# ========================
# GENERAL
# ========================
__pycache__/
*.pyc
venv/
.vscode/
.idea/